# Raw Data Aggregation

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
plt.style.use('bmh')
plt.rcParams["figure.figsize"] = (15,8)

### 1. Download data for May 2016

In [5]:
taxi = pd.read_parquet("/drive2/data/Tlc-Trip-Record-Data/yellow_tripdata_2016-05.parquet");

In [6]:
taxi.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2016-05-01 00:07:41,2016-05-01 00:08:25,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,NaN,NaN
1,1,2016-05-01 00:09:08,2016-05-01 00:09:58,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,NaN,NaN
2,1,2016-05-01 00:01:47,2016-05-01 00:05:27,1,0.9,1,N,166,238,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80,NaN,NaN
3,1,2016-05-01 00:11:46,2016-05-01 00:25:35,1,2.0,1,N,151,74,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30,NaN,NaN
4,1,2016-05-01 00:30:45,2016-05-01 00:40:08,2,5.2,1,N,74,129,2,15.5,0.5,0.5,0.00,5.54,0.3,22.34,NaN,NaN
5,1,2016-05-01 00:17:15,2016-05-01 00:32:21,1,2.8,1,N,41,263,1,12.5,0.5,0.5,4.10,0.00,0.3,17.90,NaN,NaN
6,1,2016-05-01 00:51:36,2016-05-01 01:01:58,1,2.1,1,N,142,246,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80,NaN,NaN
7,1,2016-05-01 00:05:19,2016-05-01 00:10:40,2,1.7,1,N,239,263,1,7.0,0.5,0.5,2.07,0.00,0.3,10.37,NaN,NaN
8,1,2016-05-01 00:16:32,2016-05-01 00:31:03,1,5.3,1,N,263,79,2,15.5,0.5,0.5,0.00,0.00,0.3,16.80,NaN,NaN
9,1,2016-05-01 00:31:45,2016-05-01 00:39:20,1,1.3,1,N,196,56,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30,NaN,NaN

### 2. Fliter Data

Delete trips with zero duration, zero number of passengers, zero trip distance by meter, start coordinates that do not fall within the New York rectangle (New York is inscribed in the rectangle from -74.25559 to -73.70001 degrees of longitude and from 40.49612 to 40.91553 of latitude)

In [7]:
lon_west = -74.25559
lon_east = -73.70001
lat_south = 40.49612
lat_north = 40.91553

In [8]:
taxi_new = taxi.loc[(taxi['trip_distance']!=0)&(taxi['passenger_count']!=0)]

In [9]:
taxi_new = taxi_new.loc[(taxi_new['tpep_pickup_datetime']!= taxi_new['tpep_dropoff_datetime'])]

In [10]:
(taxi_new['tpep_pickup_datetime']== taxi_new['tpep_dropoff_datetime']).sum()

0

pickup_longitude - долгота, pickup_latitude - широта

taxi_new = taxi_new.loc[(taxi_new['pickup_longitude']>= lon_west)&(taxi_new['pickup_longitude']<= lon_east)&
                        (taxi_new['pickup_latitude']>= lat_south)&(taxi_new['pickup_latitude']<= lat_north)]

In [12]:
taxi_new

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2,1,2016-05-01 00:01:47,2016-05-01 00:05:27,1,0.90,1,N,166,238,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80,NaN,NaN
3,1,2016-05-01 00:11:46,2016-05-01 00:25:35,1,2.00,1,N,151,74,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30,NaN,NaN
4,1,2016-05-01 00:30:45,2016-05-01 00:40:08,2,5.20,1,N,74,129,2,15.5,0.5,0.5,0.00,5.54,0.3,22.34,NaN,NaN
5,1,2016-05-01 00:17:15,2016-05-01 00:32:21,1,2.80,1,N,41,263,1,12.5,0.5,0.5,4.10,0.00,0.3,17.90,NaN,NaN
6,1,2016-05-01 00:51:36,2016-05-01 01:01:58,1,2.10,1,N,142,246,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11832044,2,2016-05-31 23:05:23,2016-05-31 23:16:19,1,1.71,1,N,233,68,1,9.0,0.5,0.5,2.06,0.00,0.3,12.36,NaN,NaN
11832045,2,2016-05-31 23:18:04,2016-05-31 23:33:04,1,5.19,1,N,68,74,1,16.0,0.5,0.5,4.32,0.00,0.3,21.62,NaN,NaN
11832046,2,2016-05-31 23:38:07,2016-05-31 23:42:02,1,0.88,1,N,74,41,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,NaN,NaN
11832047,2,2016-05-31 23:44:44,2016-05-31 23:49:57,1,1.45,1,N,41,42,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80,NaN,NaN
11832048,2,2016-05-31 23:53:09,2016-05-31 23:59:49,1,1.14,1,N,42,116,1,6.5,0.5,0.5,0.00,0.00,0.3,7.80,NaN,NaN

### 3. Aggregate data by hour and area

In [13]:
region = pd.read_csv("regions.csv", sep=';')
region.head()

FileNotFoundError: [Errno 2] No such file or directory: 'regions.csv'

In [ ]:
def regions_function(x):
    d_lon = (lon_east - lon_west) / 50
    d_lat = (lat_north - lat_south) / 50
    return int(min((x[0] - lon_west) // d_lon, 49) * 50  + min((x[1] - lat_south) // d_lat, 49))

In [ ]:
taxi_new['region'] = taxi_new[['pickup_longitude', 'pickup_latitude']].apply(regions_function, axis=1)

In [ ]:
taxi_new['tpep_pickup_datetime'] = pd.to_datetime(taxi_new['tpep_pickup_datetime']).dt.strftime('%Y-%m-%d %H')

In [ ]:
taxi_new['trips_number'] = 1

In [ ]:
taxi_agg = taxi_new.groupby(['tpep_pickup_datetime', 'region'], as_index=False).agg({'trips_number':'count'})

### 4. Print the first rows of the resulting table

with time, zone ID and number of trips

In [ ]:
(taxi_agg['trips_number']==0).sum()

In [ ]:
taxi_agg.head()

In [ ]:
taxi_agg['region'].nunique()

In [ ]:
taxi_agg.to_csv('taxi_agg_2016.csv', index=False)

### 5. Plot the number of yellow taxi trips from the cell containing the Empire State Building

In [ ]:
esb_latitude = 40.748817
esb_longitude = -73.985428

In [ ]:
for i in range(region.shape[0]):
    reg, west, east, south, north = region.iloc[i]
    if (east>=esb_longitude >= west)&(north>=esb_latitude>=south):
        reg_esb = reg
        print(reg_esb)
        break

In [ ]:
esb_df = taxi_agg.loc[taxi_agg['region']== reg_esb].set_index('tpep_pickup_datetime')

In [ ]:
esb_df['trips_number'].plot()

### 6. Count how many hour-cell pairs for which no trips have been made

In [ ]:
# if trips were made every hour in each area, then their number would be:
n = 50*50*24*31
print(f"Количество непредставленных пар: {n - taxi_agg.shape[0]}")